.navbar {
  background: #2C3E50;
  height: 80px;
}

.jumbotron {
  text-align: center;

}
.jumbotron > img {
  width: 250px;
  height: 250px;
}

.h2-star {
  text-align: center;
}

.portfolio-imgs > img {
  width: 100%;
  padding: 10px;
}

.about {
  text-align: left;
  color: white;
  background: #1ABC9C;
}

.bg-green {
  background: #1ABC9C;
  color: white;
}
