/* HEADER */
.bl-navbar {
  background-color: #2c3e50;
  color: #fff;
  border-radius: 0px;
  margin-bottom: 0px;
  border: none;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav>li>a {
  color: #fff;
}

.bl-navbar .navbar-brand {
  font-size:24px;
  font-weight: bolder;
}

.bl-navbar .navbar-nav>li>a {
  font-weight: bolder;
}

.bl-navbar .navbar-brand:hover, .bl-navbar .navbar-nav>li>a:hover {
  color: #1ABC9C;
}

.jumbotron {
  text-align: center;
}
.jumbotron > img {
  width: 250px;
  height: 250px;
}
/* HEADER */

/* ----- UTILITY ----- */
.h2-star {
  text-align: center;
  margin-bottom: 20px;
}

.star:before,
.star:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 3px;
  vertical-align: middle;
  width: 200px;
  margin-bottom: 30px;
}

.white-color {
  color: white;
}

.bg-green {
  background: #1ABC9C;
  color: white;
}
/* ----- UTILITY ----- */


.portfolio-imgs > img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}




/* ----- CONTACT ME FORM ----- */
.bl-form{
  width: 1170px;
  margin: 0 auto;
}

.bl-form ::placeholder, .bl-form input, .bl-form textarea{
  color: #2c3e50;
  font-size: 19px;
}

.bl-form .form-group{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.bl-form input, .bl-form textarea{
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-left: 0;
}

.contact-me-button {
  height: 80px;
  line-height: 80px;
  margin-bottom: 50px;
}

.contact-me-button button {
  background-color: #1ABC9C;
}

.download-button {
  background-color: #1ABC9C;
  margin: 50px 0;
}
.download-button i {
  padding-right: 10px;
}
/* ----- CONTACT ME FORM ----- */

/* ----- FOOTER ----- */
.blue-footer {
  padding-top: 20px;
  background: #3A546D;
  height: 400px;
  text-align: center;
}

.violet-footer {
  padding-top: 25px;
  background: #2C3E50;
  text-align: center;
  height: 100px;
}

.border-icons {
  padding: 15px;
  border: 1px solid white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 10px;
}
/* ----- FOOTER ----- */
